# NetBeans
/nbproject
/nbproject/*

# PHP Storm
.idea
.idea/*

# Debug files
log.txt
debug.log

# PHPStorm
.idea
.idea/
.idea/*

# NetBeans
nbproject
nbproject/
nbproject/*

# Markers
markers/*.*

# Crap
*~
.DS_Store
.svn
.cvs
.git
.listing
*._bak
*.bak
*.swp
thumbs.db
Thumbs.db
cache
.cache
temp
tmp
*.tmp